<h1>Login</h1>

  <form action="/users/login" method="POST">

  <div>
  <label for="username">Username</label>
  <input type="text" name="username"></input>
  </div>

  <div>
  <label for="password">Password</label>
  <input type="password" name="password"></input>
  </div>

  <input type="submit" value="Login"></input>

  </form><br><br><br>