.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#map {
  width: 500px;
  height: 500px;
}

.latitude, .longitude, .contact_user_id {
	visibility: hidden;
}

#login_status {
	position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
  font-family: cursive;
}

#new_spot_form, #edit_settings_form, #new_user_form, #login_form, #contact_user_form{
	margin: 20px auto;
	padding: 0px 200px 20px 200px;
}

#success_message {
  color: green;
}

body {
  background-image: url("https://static.pexels.com/photos/30732/pexels-photo-30732.jpg");
  color: white;
  font-family: "Lucida Sans Unicode";
}

li {
  color: black;
}

h1, h2, h3, p, ol, ul{
  color: white;
}

.navbar {
  background: white;
}