.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#map {
  width: 500px;
  height: 500px;
}

#latitude, #longitude {
	visibility: hidden;
}

#login_status {
	position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
  font-family: cursive;
}

body {
	font-family: "Lucida Sans Unicode";
}

#new_spot_form, #edit_settings_form, #new_user_form, #login_form {
	margin: 20px auto;
	padding: 0px 200px 20px 200px;
}