.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

#map {
  width: 500px;
  height: 500px;
}

.latitude, .longitude, .contact_user_id {
	visibility: hidden;
  display: none;
}

#login_status {
	position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
  font-family: cursive;
  font-size: 16px;
}

#new_spot_form, #edit_settings_form, #new_user_form, #login_form, #contact_user_form, #edit_posting_form{
	margin: 20px auto;
	padding: 0px 200px 20px 200px;
}

#success_message {
  color: green;
}

body {
  background-image: url("https://static.pexels.com/photos/30732/pexels-photo-30732.jpg");
  color: white;
  font-family: "Lucida Sans Unicode";
  padding-left: 20px;
  padding-right: 20px;
}



li {
  color: black;
}

h1, h2, h3, p, ol, ul{
  color: white;
}

.navbar {
  background: white;
}

#show_white_list {
  color: white;
}

#hide_bullet_point {
  list-style: none;
}

#show_pink_links:link, #show_pink_links:visited, #contact_user {
  color: #ffb3ff;
}

#show_pink_links:hover, #contact_user:hover {
  color: #800080;
}

#map {
  border: 5px solid white;
}







