<h1>Create a New Account</h1>

<form action='/users' method='POST' name='signup_form'>
<div >
	<input type='text' placeholder='Username' name='username'>
	</div>

	<div>
	<input type='text' placeholder='Email' name='email'>
	</div>

	<div>
	<input type='text' placeholder='Phone' name='phone'>
	</div>

	<div>
	<input type='textbox' placeholder='About you' name='description'>
	</div>

	<div>
	<input type='password' placeholder='Password' name='password'>
	</div>

	<input type='submit' value='register'>
</form>